h1{
    font-size: 100px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: underline;
    font-weight: 60%;
    white-space: nowrap;
}

@import "tailwindcss";