*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
html,body{
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}
.container{
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightcyan;
}
.buttons{
  display: flex;
  gap: 20px;
  margin-top: 20px;
}
button{
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  background-color: lightpink;
}
h1{
  font-size: 48px;
  color: #333;
  background-color: lightpink;
  height: 80px;
  width: fit-content;
  padding: 10px 70px;
  border-radius: 10px;
  margin: 20px;
  border: #333 solid 2px;
}